* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-icon-bar: #ffc297;
  --color-icons: #ff852c;
  --color-buttons: #ff7008;
  --color-active: #1c1c1c;
  --color-texts: #858585;
  --color-primary: #ffffff;
  --color-bg: #f0f0f0;
  --border-color: #858585;
  --bell-bg: #d9d9d9;
  --checked: #24a810;

  --font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  font-family: var(--font-family);
  background: var(--color-primary);
}

/* First Bar Left */

.icon-bar {
  background-color: var(--color-icon-bar);
  width: 5%;
}

.icon-logo {
  text-align: center;
  padding: 20% 0;
}

.icon-logo img {
  width: calc(100% - 20px);
}

.bar-icon li {
  list-style: none;
  margin: 40% 0;
  padding: 5% 0;
  text-align: center;
  cursor: pointer;
}

.bar-icon li i {
  color: var(--color-buttons);
  font-size: 18px;
}

.icon-bottom {
  display: flex;
  height: calc(100vh - 380px);
  align-items: end;
  justify-content: center;
  padding-bottom: 45%;
}

.icon-bottom i {
  background-color: var(--color-buttons);
  color: var(--color-primary);
  width: 70%;
  padding: 19%;
  border-radius: 50%;
  cursor: pointer;
}

/* Second Bar Middle */

.setting-bar {
  width: 38%;
  border-right: 1px solid var(--border-color);
}

.setting-logo {
  display: flex;
  justify-content: start;
  padding: 2% 5%;
  cursor: pointer;
}

.setting-logo h2 {
  font-size: 2rem;
}

.setting-logo i {
  margin-right: 15%;
  font-size: 1.5rem;
}

.setting-icon li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5% 0;
  padding: 5% 15%;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--color-texts);
}

.setting-icon li i {
  color: var(--color-texts);
  font-size: 1.5rem;
  padding-right: 20%;
}

.setting-icon .active {
  color: var(--color-active);
}

/* Third Bar Right */

.profile-container {
  width: 100%;
}

.profile-small-icon {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1% 2%;
}

.profile-small-icon img {
  width: 2.5%;
}

.profile-small-icon i {
  background-color: var(--bell-bg);
  width: fit-content;
  margin-right: 2%;
  padding: 0.5%;
  border-radius: 50%;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-title h2 {
  font-size: 2.813rem;
  width: 25%;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.name-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 68%;
  margin-top: 30px;
}

.first-name label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.last-name label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.first-name input,
.last-name input {
  width: 100%;
  padding: 12px 15px;
  margin-top: 8px;
  border: 1.5px solid var(--color-texts);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--color-texts);
  font-family: var(--font-family);
  outline: none;
}

.first-name input:focus,
.last-name input:focus {
  border-color: var(--color-buttons);
}

.first-name,
.last-name {
  width: 48%;
}

.email {
  width: 100%;
  margin-top: 20px;
}

.email label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.inputs {
  display: flex;
  align-items: center;
  border: 1.5px solid var(--color-buttons);
  border-radius: 8px;
  padding: 0 15px;
  margin-top: 8px;
}

.inputs input:first-child {
  width: 95%;
  padding: 12px 0px;
  border: none;
  font-size: 1rem;
  color: var(--color-texts);
  outline: none;
  font-family: var(--font-family);
}

.inputs input:nth-child(2) {
  background-color: var(--checked);
  width: 5%;
}

.addresse {
  width: 100%;
  margin-top: 20px;
}

.addresse label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.addresse input {
  width: 95%;
  padding: 12px 0px;
  border: none;
  font-size: 1rem;
  color: var(--color-texts);
  outline: none;
  font-family: var(--font-family);
}

.contact {
  width: 100%;
  margin-top: 20px;
}

.contact label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.mehrab select,
.bozorgi select {
  width: 100%;
  padding: 12px 15px;
  margin-top: 8px;
  background-color: var(--color-primary);
  border: 1.5px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--color-texts);
}

.mehrab label,
.bozorgi label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.mehrab,
.bozorgi {
  width: 48%;
  margin-top: 20px;
}

.password {
  width: 100%;
  margin-top: 20px;
}

.password label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.btns {
  width: 100%;
  margin-top: 50px;
  display: flex;
}

.btns button {
  padding: 12px 40px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  width: 160px;
  font-family: var(--font-family);
}

.btns button:first-child {
  background-color: var(--color-primary);
  color: var(--color-buttons);
  border: 1.5px solid var(--color-buttons);
  margin-right: 20px;
}

.btns button:nth-child(2) {
  background-color: var(--color-buttons);
  color: var(--color-bg);
  border: none;
}
